<div class="brackets">
  <!--
  <div class="first_four">
    <%#= render_bracket(1, @tournament.first_four[0..1]) %>
    <%#= render_bracket(2, @tournament.first_four[2..3]) %>
    <%#= render_bracket(3, @tournament.first_four[4..5]) %>
    <%#= render_bracket(4, @tournament.first_four[6..7]) %>
  </div>
  -->

  <div class="first_round">
    <%= render_bracket(1, @tournament.teams[0..15]) %>
    <%= render_bracket(2, @tournament.teams[16..31]) %>
    <%= render_bracket(3, @tournament.teams[32..47]) %>
    <%= render_bracket(4, @tournament.teams[48..63]) %>
  </div>

  <div class="second_round">
    <%= render_bracket(1, @tournament.rounds[0].winners[0..7]) %>
    <%= render_bracket(2, @tournament.rounds[0].winners[8..15]) %>
    <%= render_bracket(3, @tournament.rounds[0].winners[16..23]) %>
    <%= render_bracket(4, @tournament.rounds[0].winners[24..31]) %>
  </div>

  <div class="sweet_sixteen">
    <%= render_bracket(1, @tournament.rounds[1].winners[0..3]) %>
    <%= render_bracket(2, @tournament.rounds[1].winners[4..7]) %>
    <%= render_bracket(3, @tournament.rounds[1].winners[8..11]) %>
    <%= render_bracket(4, @tournament.rounds[1].winners[12..15]) %>
  </div>

  <div class="elite_eight">
    <%= render_bracket(1, @tournament.rounds[2].winners[0..1]) %>
    <%= render_bracket(2, @tournament.rounds[2].winners[2..3]) %>
    <%= render_bracket(3, @tournament.rounds[2].winners[4..5]) %>
    <%= render_bracket(4, @tournament.rounds[2].winners[6..7]) %>
  </div>

  <div class="final_four">
    <%= render_bracket(1, @tournament.rounds[3].winners[0]) %>
    <%= render_bracket(2, @tournament.rounds[3].winners[1]) %>
    <%= render_bracket(3, @tournament.rounds[3].winners[2]) %>
    <%= render_bracket(4, @tournament.rounds[3].winners[3]) %>
  </div>

  <div class="championship">
    <%= render_bracket(1, @tournament.rounds[4].winners[0]) %>
    <%= render_bracket(2, @tournament.rounds[4].winners[1]) %>
  </div>

  <div class="champion">
    <%= render_bracket(1, @tournament.winner) %>
  </div>

  <div class="stats">
    <div>Maximum Points: <%= @tournament.max_total_points %></div>
    <div>Avg Probability: <%= (@tournament.probability*100).round(4) %>%</div>
    <div>Projected Points: <%= (@tournament.probability * @tournament.max_total_points).floor %></div>
    <div>Tournament Key: <%= @tournament.key %></div>
  </div>
</div>